html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*/////////////////////
/////////////////////
///////////////////
*/

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f8f8ff;
  /* background-color: darkslategray; 
  color: #eee;
  background: #121212; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  display: flex;
  padding: 0 6rem;
  /* justify-content: space-between; */
}

.card {
  padding: 8px;
  background-color: #04aa6d;
  border-radius: 1em;
  width: 450px;
  height: min-content;
}

.price {
  border-radius: 35px;
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.price .bottum {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.button {
  background-color: #04aa6d;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.Cardparent {
  display: flex;
  justify-content: space-around;
}

.cardItem {
  display: flex;
  width: 30vw;
  /* justify-content: space-between; */
  text-align: center;
  align-items: center;
  background-color: lightblue;
  padding-left: 1em;
}

.budget-amount {
  background-color: transparent;
  border: none;
  width: 6em;
outline: none;
  top: 250px;
  /* margin: 0 auto; */
  padding: 10px;
  color: #333;
  -webkit-box-sh
}

body.dark {
  background-color: rgb(30, 34, 39);
  color: #fff;
}
body.dark code[class*="language-"],
body.dark table tbody > tr:nth-child(odd) > td,
body.dark table tbody > tr:nth-child(odd) > th {
  background: #282c34;
}
